.footer
{
	width: 100%;
	background: linear-gradient(to right, #00093c,#141313);
	display: block;
	
}

.inner-footer {
	width: 95%;
	margin: auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: space-between;
}

.footer-items{
	flex-basis: 25%;
	padding: 10px 2px;
	box-sizing: border-box;
}
.footer .inner-footer .footer-items img {
		display: block;
		margin-top: 0%;
		margin-bottom: 0%;
		margin-left: auto;
		margin-right: auto;
		width: 25%;
		
}


.footer h1 {
	padding: 2px 0;
	font-size: 25px;
	color: #1B9BFF;
	text-align: center;
}

.footer-items p {
	color: grey;
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
}

.footer h2 {
	margin: 10px 90;
	color: #1B9BFF;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
	
}

.border {
	margin: 10px 90;
	height: 2px;
	width: 80px;
	background: #ff9800;
	
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;
}

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 10px 90;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 15px;
	width: 15px;
	margin: 20px 5px;
	padding: 10px;
	color: #fff;
	border-radius: 50%;
	border: 1px solid grey;
	transition: 0.3s;
}

.social-media i:hover {
	background: grey;
}

.footer-bottom {
	padding: 10px;
	background: #111;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

@media screen and (max-width: 1085px) {
	.footer-items {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.footer-items {
		width: 100%;
	}
}
